h2, h3, p {
	text-align: center;
}

.skin-green .main-sidebar {
	background-color: #303030;
}

#calcButton, #FWERbutton {
	text-align:center;
	font-weight: bold;
	background-color: #D1EEEE;
}

#result  {
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
}

#header {
	border-bottom: 1px solid black;
	padding-bottom: 2%;
}